html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#green-content {
    background: greenyellow;
    height: 100%;
    width: 100%;
}

green-component {
    overflow: hidden;
    display: block;
}

#green-content h3 {
    margin: 0;
    padding: 10px;
}