#app-links {
    padding: 10px;
    background: #80808061;
    border-radius: 5px;
    display: inline-block;
}

#app-links .app-link {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

#app-links .app-link.active {
    color: black;
}
